<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no" />
    <title>关于我们</title>
    <meta name="keywords" content="{$seo.keywords}">
    <meta name="description" content="{$seo.description}">
    <link rel="stylesheet" href="/css/about.css">
</head>
<style>
    #headera{
        text-decoration:none;
        font-size: 20px; 
        color: rgb(241, 239, 239);
        line-height: 60px;

    }
    #headera:hover{
        color: yellow;
        font-weight: bold;
    }
    .headerul li{
        width: 110px;
        height: 100px;
        display: inline-block; 
        margin-left: 60px;
        text-align: center;
      
    }
    .synopsis{
        width: 1520px;
        height: 288px;
        display: flex;
        margin: auto 200px;
    }
    .synopsisdiv{
        float: left;
        width: 500px;
        height: 288px;
    }
    .fuwudiv{
        background: url(/assets/image/fuwu.jpg);
        width: 475px;
        height: 320px;
        float: left;
    }
</style>
<body>

        <!-- header -->
        <div style="height: 100px; width: 1920px; background-color: black; float: left; position: absolute; top: 0px;" >
            <div style="height: 80px; width: 300px; margin-left: 30px;padding-top: 5px; float: left;"><img src="/assets/image/logo.jpg"></div>
            <div style="height: 100px; width: 1200px; float: left;">
                <ul class="headerul" style="list-style: none;">
                    <li ><a id="headera" href="/index/index.html" >首页</a></li>
                    <li ><a id="headera" href="/about/about.html" >关于我们</a></li>
                    <li ><a id="headera" href="/product/product.html" >产品介绍</a></li>
                    <li ><a id="headera" href="/anli/case-img.html" >客户案例</a></li>
                    <li ><a id="headera" href="/news/news.html">新闻动态</a></li>
                    <li ><a id="headera" href="/contact/contact.html">联系我们</a></li>
                </ul>
            </div>
            <div style=" float: right;margin-right: 80px; vertical-align: middle;">
                <div style="float: left; margin-top: 30px;"><img src="/assets/image/tel.jpg"></div>
                <div style="float: left; "><span style="font-size: 20px; color: rgb(241, 239, 239); line-height: 100px;">13871551155</span></div>
            </div>
        </div>
        <!-- 轮播图 -->
        <div style="float: left; position: absolute; top: 100px;">
            <div >
                <img src="/assets/image/about.jpg" alt="about">
            </div>
        </div>

        <!-- 简介 -->
        <div style="float:left; margin-top: 250px; position: absolute; top: 800px;">
            <div style="text-align: center; width: 1920px;"><h1>XPEL500，首家引进XPEL漆面保护膜的旗舰店</h1></div>
            <div style="font-size: 18px; text-align: center; margin-top:60px ;">
             <pre>
                 武汉伍零零旗舰店落座与美丽的武昌江滩长江观景台旁，是湖北首家引进XPEL漆面保护膜的旗舰店，营业十年，服务千万车<br>
              主，是湖北唯一一家业内标杆店。<br>
                 公司拥有8个标准化无尘施工车间，3名星级技师、6名专业技师的贴膜团队，为湖北车主提供一对一专业定制服务。<br>
                 我们拥有行业内精准的专车专用DAP裁膜系统，电脑精密裁切，无需拆卸原车件，无需动刀，完美保护原车漆。我们崇尚匠人<br>
              精神，追求完美细节，给您的爱车全方位保护
             </pre>
            </div>
            <div class="synopsis" style="margin-bottom: 30px;">
                <div class="synopsisdiv"><img src="/assets/image/synopsis1.jpg"></div>
                <div class="synopsisdiv" style="margin-left: 10px;"><img src="/assets/image/synopsis2.jpg"></div>
                <div class="synopsisdiv" style="margin-left: 10px;"><img src="/assets/image/synopsis3.jpg"></div>
            </div>
        </div>
       <!-- 服务介绍 -->
       <div style="position: absolute; top: 1800px;">
          <div><img src="/assets/image/about1.jpg"></div>
            <div >
               <div style="text-align: center; margin-top: 80px; margin-bottom: 80px;">
                <span style="font-size: 80px; color: #F1BF1E;">我们只贴膜，贴好膜</span>
                <br>
                <span style="font-weight: bold; font-size: 80px;color: #F1BF1E;">- - - -</span>
            </div> 
            <div style="width: 1520px; margin-left: 200px;">
                <div class="fuwudiv" style="margin-right: 45px; text-align: center;">
                    <p></p>
                    &nbsp;&nbsp;
                    <p></p>
                    &nbsp;&nbsp;
                    <p></p>
                    &nbsp;&nbsp;
                    <img src="/assets/image/fuwu1.jpg">
                    <p></p>
                    &nbsp;&nbsp;
                    <span style="font-size: 25px;font-weight: bold;">优质的服务</span>
                    <p></p>
                    &nbsp;&nbsp;
                    <span>结合十多种专业的工具，多种专业的洗车液，<br>满足车主对汽车高品质的要求。</span>
                </div>
                <div class="fuwudiv" style="margin-right: 45px; text-align: center;">
                    <p></p>
                    &nbsp;&nbsp;
                    <p></p>
                    &nbsp;&nbsp;
                    <p></p>
                    &nbsp;&nbsp;
                    <img src="/assets/image/fuwu2.jpg">
                    <p></p>
                    &nbsp;&nbsp;
                    <span style="font-size: 25px;font-weight: bold;">资历丰富的技术团队</span>
                    <p></p>
                    &nbsp;&nbsp;
                    <span>公司拥有一支实力雄厚，资历丰富的技术团队，能<br>够为车主专车定制施工方案。</span>
                </div>
                <div class="fuwudiv" style="text-align: center;">
                    <p></p>
                    &nbsp;&nbsp;
                    <p></p>
                    &nbsp;&nbsp;
                    <p></p>
                    &nbsp;&nbsp;
                    <img src="/assets/image/fuwu3.jpg">
                    <p></p>
                    &nbsp;&nbsp;
                    <span style="font-size: 25px;font-weight: bold;">安全，快捷方便</span>
                    <p></p>
                    &nbsp;&nbsp;
                    <span>实践总结出一套完善的快速贴膜、美容、改车等<br>方案，为每一位客户节约宝贵的时间。</span>
                </div>
            </div>    
            
       </div>

        
       </div>
       <div style="position: absolute; top: 3200px;">
           <img src="/assets/image/fuwu5.jpg">
       </div>

    <!-- footer -->
    <footer>
        <div style="height: 447px; width: 1920px; position: absolute; top: 4075px;">
            <div style="background-color: black; height: 102px; " >
                <div style="width: 100px;height: 102px;padding-top: 30px; float: left;"><img src="/assets/image/time.jpg" style="height: 44px; width: 44px; float: right;"></div>
                <div style="width: 600px;height: 102px;margin-left: 20px; float: left;"><span style="color: white;font-size: 18px; line-height: 102px;" >24小时服务，要立即订购汽车美装服务或需要报价，请联系我们</span></div>
                <div style="width: 400px;height: 102px; float: right;"><a href="contact/contact.html" style="text-decoration:none;"><button style="width: 175px; height: 44px; border-radius: 22px; background-color: #242424; color: #FFFFFF;margin-top: 30px;box-shadow: none;">立即预约</button></a></div>
            </div>
            <div style="height: 264px; background-color: rgb(43, 42, 42);" class="topdiv">
                <div style="float: left; width: 596px;">
                  <img src="/assets/image/footer.png" >
                </div>
                <div style="float: left; width: 500px;">
                   <ul style="color: white; font-size: 18px; list-style: none;  margin-top: 60px;">
                       <li style="margin-top: 10px;">联系人：13871551155（李高智）</li>
                       <li style="margin-top: 10px;">Q  Q：89720887</li>
                       <li style="margin-top: 10px;">邮箱：89720887@qq.com</li>
                       <li style="margin-top: 10px;">地址：武汉市武昌区临江大道江滩69号</li>
                   </ul>
                </div>
                <div style="height: 264px;  margin-right: 300px;">
                    <div style="float: right; margin-top: 50px;">
                    <img src="/assets/image/weixin.jpg" style="width: 100px; height: 100px;">
                    <br>
                    <span style="color: white; font-size: 18px; width: 75px; height: 18px;margin-left: 15px;">扫描咨询</span>
                    </div>
                </div>
            </div>
            <div style="background-color: black; height: 71px; text-align: center;vertical-align:middle;" >
                  <span style="color: white;font-size: 18px; line-height: 60px;">武汉xpel500旗舰店版权所有. 备案号：鄂ICP备2020015039</span>
            </div>
    
        </div>
    </footer>
    
</body>
</html>