<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no" />
    <title>视频案例</title>
    <meta name="keywords" content="{$seo.keywords}">
    <meta name="description" content="{$seo.description}">
    <link rel="stylesheet" href="/css/case.css">
</head>
<style>
    #headera{
        text-decoration:none;
        font-size: 20px; 
        color: rgb(241, 239, 239);
        line-height: 60px;

    }
    #headera:hover{
        color: yellow;
        font-weight: bold;
    }
    .headerul li{
        width: 110px;
        height: 100px;
        display: inline-block; 
        margin-left: 60px;
        text-align: center;
      
    }
    a {
        text-decoration:none;
        font-size: 20px; 
        font-weight: bold;
        color: rgb(2, 2, 2);
        line-height: 60px;
    }
    a:hover{
        color: yellow;
        font-weight: bold;
    }
    .adiv{
        width: 100px;
        display: inline-block;
        text-align: center;
    }
    .adiv:hover{
        border-bottom: yellow solid 2px;
    }
    .tupiandiv{
        width: 553px;
        height: 334px;
        float: left;
    }
    span:hover{
        color: yellow;
        font-weight: bold;
    }

</style>
<body>
    <div>
        <div style="height: 100px; width: 1920px; background-color: black; float: left; position: absolute; top: 0px;" >
            <div style="height: 80px; width: 300px; margin-left: 30px;padding-top: 5px; float: left;"><img src="/assets/image/logo.jpg"></div>
            <div style="height: 100px; width: 1200px; float: left;">
                <ul class="headerul" style="list-style: none;">
                    <li ><a id="headera" href="/index/index.html" >首页</a></li>
                    <li ><a id="headera" href="/about/about.html" >关于我们</a></li>
                    <li ><a id="headera" href="/product/product.html" >产品介绍</a></li>
                    <li ><a id="headera" href="/anli/case-img.html" >客户案例</a></li>
                    <li ><a id="headera" href="/news/news.html">新闻动态</a></li>
                    <li ><a id="headera" href="/contact/contact.html">联系我们</a></li>
                </ul>
            </div>
            <div style=" float: right;margin-right: 80px; vertical-align: middle;">
                <div style="float: left; margin-top: 30px;"><img src="/assets/image/tel.jpg"></div>
                <div style="float: left; "><span style="font-size: 20px; color: rgb(241, 239, 239); line-height: 100px;">13871551155</span></div>
            </div>
        </div>
        <!--小导航-->
        <div  style="margin-left: 100px; margin-top: 230px!important;width: 1720px; border-bottom: 2px solid #EEEEEE;">
            <div class="adiv">
            <a  href="anli/case-img.html" >图片案例</a>
            </div>
            <div class="adiv">
            <a  href="case-video.html" style="color: #F1BF1E;">视频案例</a> 
           </div>
        </div>
        <div>
            <p></p>
        </div>
        <!-- 内容 -->
        <div style="width: 1720px; height: 450px; margin-left: 100px;">  
            <div style="width: 1720px; ">
                <div class="tupiandiv" style="margin-right: 30px; text-align: center;">
                    <img src="/assets/image/tupian1.png">
                    <p></p>
                    &nbsp;&nbsp;
                    <span style="font-size: 25px;">武汉汽车贴膜 -
                    <span style="color: #F1BF1E;">迈凯伦</span>施工案例
                    </span>
                </div>
                <div class="tupiandiv" style="margin-right: 30px; text-align: center;">
                    <img src="/assets/image/tupian2.png">
                    <p></p>
                    &nbsp;&nbsp;
                    <span style="font-size: 25px;">武汉汽车贴膜 -
                    <span style="color: #F1BF1E;">保时捷Taycan</span>施工案例
                    </span>
                </div>
                <div class="tupiandiv" style="text-align: center;">
                    <img src="/assets/image/tupian3.png">
                    <p></p>
                    &nbsp;&nbsp;
                    <span style="font-size: 25px;">武汉汽车贴膜 -
                    <span style="color: #F1BF1E;">雷克萨斯570</span>施工案例
                    </span>
                </div>
            </div>  
        </div>
        <div style="width: 1720px; height: 450px; margin-left: 100px;">  
            <div style="width: 1720px; ">
                <div class="tupiandiv" style="margin-right: 30px; text-align: center;">
                    <img src="/assets/image/tupian4.png">
                    <p></p>
                    &nbsp;&nbsp;
                    <span style="font-size: 25px;">武汉汽车贴膜 -
                    <span style="color: #F1BF1E;">特斯拉MODEL 3</span>施工案例
                    </span>
                </div>
                <div class="tupiandiv" style="margin-right: 30px; text-align: center;">
                    <img src="/assets/image/tupian5.png">
                    <p></p>
                    &nbsp;&nbsp;
                    <span style="font-size: 25px;">武汉汽车贴膜 -
                    <span style="color: #F1BF1E;">路虎卫士</span>施工案例
                    </span>
                </div>
                <div class="tupiandiv" style="text-align: center;">
                    <img src="/assets/image/tupian6.png">
                    <p></p>
                    &nbsp;&nbsp;
                    <span style="font-size: 25px;">武汉汽车贴膜 -
                    <span style="color: #F1BF1E;">路虎揽运</span>施工案例
                    </span>
                </div>
            </div>  
        </div>
        <div style="width: 1720px; height: 450px; margin-left: 100px;">  
            <div style="width: 1720px; ">
                <div class="tupiandiv" style="margin-right: 30px; text-align: center;">
                    <img src="/assets/image/tupian7.png">
                    <p></p>
                    &nbsp;&nbsp;
                    <span style="font-size: 25px;">武汉汽车贴膜 -
                    <span style="color: #F1BF1E;">凯迪拉克</span>施工案例
                    </span>
                </div>
                <div class="tupiandiv" style="margin-right: 30px; text-align: center;">
                    <img src="/assets/image/tupian8.png">
                    <p></p>
                    &nbsp;&nbsp;
                    <span style="font-size: 25px;">武汉汽车贴膜 -
                    <span style="color: #F1BF1E;">奔驰GLE</span>施工案例
                    </span>
                </div>
                <div class="tupiandiv" style="text-align: center;">
                    <img src="/assets/image/tupian9.png">
                    <p></p>
                    &nbsp;&nbsp;
                    <span style="font-size: 25px;">武汉汽车贴膜 -
                    <span style="color: #F1BF1E;">奥迪A4</span>施工案例
                    </span>
                </div>
            </div>  
        </div>
        <div style="width: 1720px; height: 450px; margin-left: 100px;">  
            <div style="width: 1720px; ">
                <div class="tupiandiv" style="margin-right: 30px; text-align: center;">
                    <img src="/assets/image/tupian10.png">
                    <p></p>
                    &nbsp;&nbsp;
                    <span style="font-size: 25px;">武汉汽车贴膜 -
                    <span style="color: #F1BF1E;">宝马3系</span>施工案例
                    </span>
                </div>
                <div class="tupiandiv" style="margin-right: 30px; text-align: center;">
                    <img src="/assets/image/tupian11.png">
                    <p></p>
                    &nbsp;&nbsp;
                    <span style="font-size: 25px;">武汉汽车贴膜 -
                    <span style="color: #F1BF1E;">比亚迪</span>施工案例
                    </span>
                </div>
                <div class="tupiandiv" style="text-align: center;">
                    <img src="/assets/image/tupian12.png">
                    <p></p>
                    &nbsp;&nbsp;
                    <span style="font-size: 25px;">武汉汽车贴膜 -
                    <span style="color: #F1BF1E;">野马</span>施工案例
                    </span>
                </div>
            </div>  
        </div>
        

      <!-- footer -->
      <footer>
        <div style="height: 447px; width: 1920px; position: absolute; top: 2275px;">
            <div style="background-color: black; height: 102px; " >
                <div style="width: 100px;height: 102px;padding-top: 30px; float: left;"><img src="/assets/image/time.jpg" style="height: 44px; width: 44px; float: right;"></div>
                <div style="width: 600px;height: 102px;margin-left: 20px; float: left;"><span style="color: white;font-size: 18px; line-height: 102px;" >24小时服务，要立即订购汽车美装服务或需要报价，请联系我们</span></div>
                <div style="width: 400px;height: 102px; float: right;"><a href="contact/contact.html" style="text-decoration:none;"><button style="width: 175px; height: 44px; border-radius: 22px; background-color: #242424; color: #FFFFFF;margin-top: 30px;box-shadow: none;">立即预约</button></a></div>
            </div>
            <div style="height: 264px; background-color: rgb(43, 42, 42);" class="topdiv">
                <div style="float: left; width: 596px;">
                  <img src="/assets/image/footer.png" >
                </div>
                <div style="float: left; width: 500px;">
                   <ul style="color: white; font-size: 18px; list-style: none;  margin-top: 60px;">
                       <li style="margin-top: 10px;">联系人：13871551155（李高智）</li>
                       <li style="margin-top: 10px;">Q  Q：89720887</li>
                       <li style="margin-top: 10px;">邮箱：89720887@qq.com</li>
                       <li style="margin-top: 10px;">地址：武汉市武昌区临江大道江滩69号</li>
                   </ul>
                </div>
                <div style="height: 264px;  margin-right: 300px;">
                    <div style="float: right; margin-top: 50px;">
                    <img src="/assets/image/weixin.jpg" style="width: 100px; height: 100px;">
                    <br>
                    <span style="color: white; font-size: 18px; width: 75px; height: 18px;margin-left: 15px;">扫描咨询</span>
                    </div>
                </div>
            </div>
            <div style="background-color: black; height: 71px; text-align: center;vertical-align:middle;" >
                  <span style="color: white;font-size: 18px; line-height: 60px;">武汉xpel500旗舰店版权所有. 备案号：鄂ICP备2020015039</span>
            </div>
    
        </div>
     </footer>
</body>

</html>