<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no" />
    <title>联系我们</title>
    <meta name="keywords" content="{$seo.keywords}">
    <meta name="description" content="{$seo.description}">
    <!-- <link rel="stylesheet" href="/assets/css/contact.css"> -->
    <script src="http://api.map.baidu.com/api?v=2.0&ak=aFPqBKWEg40lqIVogaSRN1G8nU9MZUT1&s=1"></script>
</head>
<style>
    #headera{
        text-decoration:none;
        font-size: 20px; 
        color: rgb(241, 239, 239);
        line-height: 60px;

    }
    #headera:hover{
        color: yellow;
        font-weight: bold;
    }
    .headerul li{
        width: 110px;
        height: 100px;
        display: inline-block; 
        margin-left: 60px;
        text-align: center;
      
    }
    .lianxidiv{
        width: 1520px;
        height: 288px;
        display: flex;
        margin-top: 80px;
    }
    #lianxiid{
        float: left;
        width: 500px;
        height: 288px;
    }
</style>
<body>
<div>
       <!-- header -->
       <div style="height: 100px; width: 1920px; background-color: black; float: left; position: absolute; top: 0px;" >
        <div style="height: 80px; width: 300px; margin-left: 30px;padding-top: 5px; float: left;"><img src="/assets/image/logo.jpg"></div>
        <div style="height: 100px; width: 1200px; float: left;">
            <ul class="headerul" style="list-style: none;">
                <li ><a id="headera" href="/index/index.html" >首页</a></li>
                <li ><a id="headera" href="/about/about.html" >关于我们</a></li>
                <li ><a id="headera" href="/product/product.html" >产品介绍</a></li>
                <li ><a id="headera" href="/anli/case-img.html" >客户案例</a></li>
                <li ><a id="headera" href="/news/news.html">新闻动态</a></li>
                <li ><a id="headera" href="/contact/contact.html">联系我们</a></li>
            </ul>
        </div>
        <div style=" float: right;margin-right: 80px; vertical-align: middle;">
            <div style="float: left; margin-top: 30px;"><img src="/assets/image/tel.jpg"></div>
            <div style="float: left; "><span style="font-size: 20px; color: rgb(241, 239, 239); line-height: 100px;">13871551155</span></div>
        </div>
    </div>
    <!-- 轮播图 -->
    <div style="float: left; position: absolute; top: 95px;">
        <div >
            <img src="/assets/image/lianxi.png" alt="lianxi">
        </div>
    </div>

    <!-- 地图 -->
        <div class="contact" style=" height: 800px; width: 1520px;margin-left: 200px; float: left; position: absolute; top: 900px; text-align: center;">
            <div style="border: solid springgreen 1px;">
            <span style="font-size: 35px;">XPEL汽车保护膜——武汉500</span>
            <p></p>
            <span>湖北首家引进XPEL漆面保护膜的旗舰店，营业十年，服务千万车主，是湖北唯一一家业内标杆店。</span>
            </div>
            <div style="border: blue solid 1px; height: 500px; text-align: center;">
                   <span style="font-size: 50px;">地图</span>
            </div>
            <div class="lianxidiv" style="margin-bottom: 30px;">
                <div id="lianxiid"><img src="/assets/image/lianxi1.jpg"></div>
                <div id="lianxiid" style="margin-left: 10px;"><img src="/assets/image/lianxi2.jpg"></div>
                <div id="lianxiid" style="margin-left: 10px;"><img src="/assets/image/lianxi3.jpg"></div>
            </div>
            <!-- <div class="contact-container">
                <p class="contact-container-phone"><span>客服：</span>18611229971</p>
                <p class="contact-container-address"><span>地址：</span>陕西西安雁塔区天地源曲江香都A区A2-10103,10104号商铺</p>
                <a target="_blank"
                   href="https://map.baidu.com/poi/%E5%A4%A9%E5%9C%B0%E6%BA%90%E6%9B%B2%E6%B1%9F%E9%A6%99%E9%83%BDA%E5%8C%BA2%E6%9C%9F/@12133112.505,4030471.14,19z?uid=cd3844c310bbc9f4de1e52ce&ugc_type=3&ugc_ver=1&device_ratio=1&compat=1&querytype=detailConInfo&da_src=shareurl"
                   class="btn contact-container-go">到这里去</a>
                <div id="wuhou"></div>
            </div>
            <div class="lunbo">
                <ul>
                    <li class="col-lg-4 col-md-4 col-xs-4"><img src="__CDN__/images/contact/list_1_1.jpg" alt=""></li>
                    <li class="col-lg-4 col-md-4 col-xs-4"><img src="__CDN__/images/contact/list_1_2.jpg" alt=""></li>
                    <li class="col-lg-4 col-md-4 col-xs-4"><img src="__CDN__/images/contact/list_1_3.jpg" alt=""></li>
                </ul>
            </div>
            <div class="lunbo-m lunbo-m1">
                <ul>
                    <li><img src="__CDN__/images/contact/list_1_1.jpg" alt=""></li>
                    <li><img src="__CDN__/images/contact/list_1_2.jpg" alt=""></li>
                    <li><img src="__CDN__/images/contact/list_1_3.jpg" alt=""></li>
                </ul>
                <ol>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                </ol>
            </div> 
            <div class="contact-container">

                <p class="contact-container-address"><span>西门店：</span>成都市青羊区东坡路瑞南街88号</p>
                <a target="_blank"
                   href="https://map.baidu.com/search/成都市青羊区东坡路瑞南街88号/@11578029.335229537,3568011.3635735996,18.8z?querytype=s&da_src=shareurl&wd=成都市青羊区东坡路瑞南街88号&c=75&src=0&pn=0&sug=0&l=18&b=(11577030.646897767,3567266.456040302;11578875.016105663,3568178.0739456625)&from=webmap&biz_forward=%7B"
                   class="btn contact-container-go">到这里去</a>
                <div id="qingyang"></div>
            </div>
            <div class="lunbo">
                <ul>
                    <li class="col-lg-4 col-md-4 col-xs-4"><img src="__CDN__/images/contact/list4.jpg" alt=""></li>
                    <li class="col-lg-4 col-md-4 col-xs-4"><img src="__CDN__/images/contact/list5.jpg" alt=""></li>
                    <li class="col-lg-4 col-md-4 col-xs-4"><img src="__CDN__/images/contact/list6.jpg" alt=""></li>
                </ul>
            </div>
            <div class="lunbo-m lunbo-m2">
                <ul>
                    <li><img src="__CDN__/images/contact/list4.jpg" alt=""></li>
                    <li><img src="__CDN__/images/contact/list5.jpg" alt=""></li>
                    <li><img src="__CDN__/images/contact/list6.jpg" alt=""></li>
                </ul>
                <ol>
                    <li class="active"></li>
                    <li></li>
                    <li></li>
                </ol> -->
            </div>

        <!-- <img src="__CDN__/images/contact/maya.jpg" alt="" style="margin: 0 auto;width: 100%;max-width: 1920px;margin:30px auto 0"> -->
    
        </div>
    <!-- footer -->
    <!-- footer -->
    <footer>
        <div style="height: 447px; width: 1920px; position: absolute; top: 2075px;">
            <div style="background-color: black; height: 102px; " >
                <div style="width: 100px;height: 102px;padding-top: 30px; float: left;"><img src="/assets/image/time.jpg" style="height: 44px; width: 44px; float: right;"></div>
                <div style="width: 600px;height: 102px;margin-left: 20px; float: left;"><span style="color: white;font-size: 18px; line-height: 102px;" >24小时服务，要立即订购汽车美装服务或需要报价，请联系我们</span></div>
                <div style="width: 400px;height: 102px; float: right;"><a href="contact/contact.html" style="text-decoration:none;"><button style="width: 175px; height: 44px; border-radius: 22px; background-color: #242424; color: #FFFFFF;margin-top: 30px;box-shadow: none;">立即预约</button></a></div>
            </div>
            <div style="height: 264px; background-color: rgb(43, 42, 42);" class="topdiv">
                <div style="float: left; width: 596px;">
                  <img src="/assets/image/footer.png" >
                </div>
                <div style="float: left; width: 500px;">
                   <ul style="color: white; font-size: 18px; list-style: none;  margin-top: 60px;">
                       <li style="margin-top: 10px;">联系人：13871551155（李高智）</li>
                       <li style="margin-top: 10px;">Q  Q：89720887</li>
                       <li style="margin-top: 10px;">邮箱：89720887@qq.com</li>
                       <li style="margin-top: 10px;">地址：武汉市武昌区临江大道江滩69号</li>
                   </ul>
                </div>
                <div style="height: 264px;  margin-right: 300px;">
                    <div style="float: right; margin-top: 50px;">
                    <img src="/assets/image/weixin.jpg" style="width: 100px; height: 100px;">
                    <br>
                    <span style="color: white; font-size: 18px; width: 75px; height: 18px;margin-left: 15px;">扫描咨询</span>
                    </div>
                </div>
            </div>
            <div style="background-color: black; height: 71px; text-align: center;vertical-align:middle;" >
                  <span style="color: white;font-size: 18px; line-height: 60px;">武汉xpel500旗舰店版权所有. 备案号：鄂ICP备2020015039</span>
            </div>
    
        </div>
    </footer>
</body>
<!-- <script src="__CDN__/js/contact.js"></script> -->
</html>