<footer>
    <div style="height: 447px; width: 1920px;">
        <div style="background-color: black; height: 102px; " >
            <div style="width: 100px;height: 102px;padding-top: 30px; float: left;"><img src="/assets/image/time.jpg" style="height: 44px; width: 44px; float: right;"></div>
            <div style="width: 600px;height: 102px;margin-left: 20px; float: left;"><span style="color: white;font-size: 18px; line-height: 102px;" >24小时服务，要立即订购汽车美装服务或需要报价，请联系我们</span></div>
            <div style="width: 400px;height: 102px; float: right;"><a href=""><button style="width: 175px; height: 44px; border-radius: 22px; background-color: #242424; color: #FFFFFF;margin-top: 30px;box-shadow: none;">立即预约</button></a></div>
        </div>
        <div style="height: 264px; background-color: rgb(43, 42, 42);" class="topdiv">
            <div style="float: left; width: 596px;">
              <img src="/assets/image/footer.png" >
            </div>
            <div style="float: left; width: 500px;">
               <ul style="color: white; font-size: 18px; list-style: none;  margin-top: 60px;">
                   <li style="margin-top: 10px;">联系人：13871551155（李高智）</li>
                   <li style="margin-top: 10px;">Q  Q：89720887</li>
                   <li style="margin-top: 10px;">邮箱：89720887@qq.com</li>
                   <li style="margin-top: 10px;">地址：武汉市武昌区临江大道江滩69号</li>
               </ul>
            </div>
            <div style="height: 264px;  margin-right: 300px;">
                <div style="float: right; margin-top: 50px;">
                <img src="/assets/image/weixin.jpg" style="width: 100px; height: 100px;">
                <br>
                <span style="color: white; font-size: 18px; width: 75px; height: 18px;margin-left: 15px;">扫描咨询</span>
                </div>
            </div>
        </div>
        <div style="background-color: black; height: 71px; text-align: center;vertical-align:middle;" >
              <span style="color: white;font-size: 18px; line-height: 60px;">武汉xpel500旗舰店版权所有. 备案号：鄂ICP备2020015039</span>
        </div>

    </div>
</footer>
