<style>
    a{
        text-decoration:none;
        font-size: 20px; 
        color: rgb(241, 239, 239);
        line-height: 80px;

    }
    a:hover{
        color: yellow;
        font-weight: bold;
    }
     ul li{
        width: 110px;
        height: 100px;
        display: inline-block; 
        margin-left: 60px;
        margin-top: -10px;
        text-align: center;
      
    }
    li:hover{
        height: 90px;
        border-bottom: yellow solid 3px;
       
    }
    
</style>
<!-- 导航条 -->
<div style="height: 100px; width: 1920px; background-color: black; " >
    <div style="height: 80px; width: 300px; margin-left: 30px;padding-top: 5px; float: left;"><img src="/assets/image/logo.jpg"></div>
    <div style="height: 100px; width: 1200px; float: left;">
        <ul style="list-style: none;">
            <li ><a href="/index/index.html" >首页</a></li>
            <li ><a href="/about/about.html" >关于我们</a></li>
            <li ><a href="/product/product.html" >产品介绍</a></li>
            <li ><a href="/anli/case-img.html" >客户案例</a></li>
            <li ><a href="/news/news.html">新闻动态</a></li>
            <li ><a href="/contact/contact.html">联系我们</a></li>
        </ul>
    </div>
    <div style=" float: right;margin-right: 80px; vertical-align: middle;">
        <div style="float: left; margin-top: 30px;"><img src="/assets/image/tel.jpg"></div>
        <div style="float: left; "><span style="font-size: 20px; color: rgb(241, 239, 239); line-height: 100px;">13871551155</span></div>
    </div>
</div>

