<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no" />
    <title>新闻动态</title>
    <meta name="keywords" content="{$seo.keywords}">
    <meta name="description" content="{$seo.description}">
    <!-- <link rel="stylesheet" href="__CDN__/css/news.css"> -->
</head>
<style>
    #headera{
        text-decoration:none;
        font-size: 20px; 
        color: rgb(241, 239, 239);
        line-height: 60px;

    }
    #headera:hover{
        color: yellow;
        font-weight: bold;
    }
    .headerul li{
        width: 110px;
        height: 100px;
        display: inline-block; 
        margin-left: 60px;
        text-align: center;
      
    }
    a {
        text-decoration:none;
        font-size: 16px; 
        color: rgb(2, 2, 2);
        line-height: 40px;
    }
    a:hover{
        color: #F1BF1E;
        font-weight: bold;
    }
    .adiv{
        width: 100px;
        display: inline-block;
        text-align: center;
    }
    .adiv:hover{
        border-bottom: #F1BF1E solid 2px;
    }
    #newsa{
        text-decoration:none;
        font-size: 18px; 
    }
    #newsa,#newsdiv:hover{
        color: #F1BF1E;
        font-weight: bold;    
    }
    #newsbtn{
        width: 200px;
        height: 60px;
        border-radius: 30px;
        background-color:rgb(240, 192, 36); 
        color: white;
        margin-top: 30px;
        box-shadow: none;
        font-weight: bold;
        font-size: 18px; 

    }
</style>

<body>
    <div class="container-xpel">
        <!-- header -->
        <div style="height: 100px; width: 1920px; background-color: black; float: left; position: absolute; top: 0px;" >
            <div style="height: 80px; width: 300px; margin-left: 30px;padding-top: 5px; float: left;"><img src="../../image/logo.jpg"></div>
            <div style="height: 100px; width: 1200px; float: left;">
                <ul class="headerul" style="list-style: none;">
                    <li ><a id="headera" href="../index/index.html" >首页</a></li>
                    <li ><a id="headera" href="../about/about.html" >关于我们</a></li>
                    <li ><a id="headera" href="../product/product.html" >产品介绍</a></li>
                    <li ><a id="headera" href="../anli/case-img.html" >客户案例</a></li>
                    <li ><a id="headera" href="../news/news.html">新闻动态</a></li>
                    <li ><a id="headera" href="../contact/contact.html">联系我们</a></li>
                </ul>
            </div>
            <div style=" float: right;margin-right: 80px; vertical-align: middle;">
                <div style="float: left; margin-top: 30px;"><img src="../../image/tel.jpg"></div>
                <div style="float: left; "><span style="font-size: 20px; color: rgb(241, 239, 239); line-height: 100px;">13871551155</span></div>
            </div>
        </div>
        <!-- 轮播图 -->
        <div style="float: left; position: absolute; top: 100px;">
            <div >
                <img src="../../image/news.png" alt="about">
            </div>
        </div>

        <!--小导航-->
        <div  style="position: absolute; top: 500px; margin-left: 100px; margin-top: 230px!important;width: 1720px; border-bottom: 2px solid #EEEEEE;">
            <div class="adiv">
            <a  href="news.html" style="color: #F1BF1E; font-size: 25px; font-weight: bold;">知识百科</a>
            </div>
            <div class="adiv" style="margin-left: 20px;">
            <a target="_blank" href="news-list.html" style=" font-size: 25px; font-weight: bold;">行业资讯</a> 
           </div>
        </div>
       
        <!-- 内容 -->
        <!--  -->
        <div style="position: absolute; top: 850px; ">
        
        <div style="border-bottom: #EEEEEE solid 2px; margin-left: 100px; width: 1720px; height: 350px; ">
            <div style="float: left; width: 480px; height: 285px;"><img src="../../image/news1.jpg"></div>
            
            <div id="newsdiv" style="margin-top: 50px; margin-left: 150px; float: left; ">
                <span style="font-size: 24px; font-weight: bold;">武汉隐形车衣这么多，怎么才能选择到一款好一点的呢？</span>
                <p></p>
                 <span>今天，武汉隐形车衣小编就来给大家普及一下，教大家如何选择性能较好的隐形车衣。好的隐形车衣具备哪些特质?对于非业内认识，对于
                    <br>如何辨别并选择性能较好的隐形车衣实没有概念的，它们不知道好的隐形车衣具备哪些特质，好的隐形车衣有怎样的性能表现。
                </span>
                    <br>
                    <a id="newsa" href="../news/news-list.html">立即查看>>></a> 
                    &nbsp;
                    <p></p>
                <span>2021-05-23</span>
            </div>
        </div>
       
        <div style="margin-top: 100px; border-bottom: #EEEEEE solid 2px; margin-left: 100px; width: 1720px; height: 350px; ">
            <div style="float: left; width: 480px; height: 285px;"><img src="../../image/news2.png"></div>
            <div id="newsdiv" style="margin-top: 50px; float: left; margin-left: 150px;">
                 <span style="font-size: 24px; font-weight: bold;">武汉XPEL：汽车贴膜常见的一些误区，你了解到了吗？</span>
                 <p></p>
                 <span>很多人都知道车贴膜的作用在于防晒，却有不少人以为贴膜颜色深度与防晒效果成正比，于是侧档膜颜色选择过深，导致早晚阳光不充足的
                     <br>情况下看后视镜时会造成视线模糊。
                 </span>
                 <br>
                <a id="newsa" href="../news/news-list.html">立即查看>>></a> 
                &nbsp;
                <p></p>
                 <span>2021-05-23</span>
            </div>
        </div>

        <div style="margin-top: 100px; border-bottom: #EEEEEE solid 2px; margin-left: 100px; width: 1720px; height: 350px; ">
            <div style="float: left; width: 480px; height: 285px;"><img src="../../image/news3.png"></div>
            <div id="newsdiv" style="margin-top: 50px; float: left; margin-left: 150px; ">
                 <span style="font-size: 24px; font-weight: bold;">武汉汽车贴膜：隐形车衣品牌这么多，选择XPEL的理由是什么？</span>
                 <p></p>
                 <span>最近有车主问武汉xpel500小编，XPEL隐形车衣与其他品牌有什么不一样？你说你的产品是市面上最好的，到底好在哪里？简单地说优势
                     <br>有两点，一个是产品，另一个是服务。
                 </span>
                 <br>
                <a id="newsa" href="../news/news-list.html">立即查看>>></a> 
                &nbsp;
                <p></p>
                 <span>2021-05-23</span>
            </div>
        </div>

        <div style="margin-top: 100px; border-bottom: #EEEEEE solid 2px; margin-left: 100px; width: 1720px; height: 350px; ">
            <div style="float: left; width: 480px; height: 285px;"><img src="../../image/news4.png"></div>
            <div id="newsdiv" style="margin-top: 50px; float: left; margin-left: 150px;">
                 <span style="font-size: 24px; font-weight: bold;">XPEL隐形车衣无法拒绝的几个理由</span>
                 <p></p>
                 <span>作为一个车主，除开汽车最基础的保养、保险、和添加燃油，剩下的就是一些美容加装项目，下面武汉xpel500小编为大家列举一下装贴一
                     <br>张XPEL能为车主朋友们省多少钱！
                 </span>
                 <br>
                <a id="newsa" href="../news/news-list.html">立即查看>>></a> 
                &nbsp;
                <p></p>
                 <span>2021-05-23</span>
            </div>
        </div>

        <div style="margin-top: 100px; border-bottom: #EEEEEE solid 2px; margin-left: 100px; width: 1720px; height: 350px; ">
            <div style="float: left; width: 480px; height: 285px;"><img src="../../image/news5.png"></div>
            <div id="newsdiv" style="margin-top: 50px; float: left; margin-left: 150px;">
                 <span style="font-size: 24px; font-weight: bold;">汽车贴膜后需要注意的几个时间点，关乎到汽车贴膜使用寿命长短！</span>
                 <p></p>
                 <span>现在这个时代，给爱车贴膜已经不是少见的事了，但很多车主在贴了膜之后都不注意这几个事项导致贴了膜之后效果不好，其实贴膜后还是
                     <br>有几个关键时间点的，注意到了这几个时间点对膜的寿命寿命大大提升...
                 </span>
                 <br>
                <a id="newsa" href="../news/news-list.html">立即查看>>></a> 
                &nbsp;
                <p></p>
                 <span>2021-05-23</span>
            </div>
        </div>

        <div style="margin-top: 100px; border-bottom: #EEEEEE solid 2px; margin-left: 100px; width: 1720px; height: 350px; ">
            <div style="float: left; width: 480px; height: 285px;"><img src="../../image/news6.png"></div>
            <div id="newsdiv" style="margin-top: 50px; float: left; margin-left: 150px;">
                 <span style="font-size: 24px; font-weight: bold;">武汉XPEL：为什么说保护汽车漆面很重要？</span>
                 <p></p>
                 <span>众所周知XPEL隐形车衣可以保护汽车漆面，又人会说，漆面损坏了补漆就是了，何必花钱来贴一张XPEL隐形车衣膜！那么武汉xel500小编
                     <br>就带大家先让我们了解下什么是原车漆...
                 </span>
                 <br>
                <a id="newsa" href="../news/news-list.html">立即查看>>></a> 
                &nbsp;
                <p></p>
                 <span>2021-05-23</span>
            </div>
        </div>

        <div style="text-align: center; margin-left: 100px;  width: 1720px; height: 60px; margin-top: 100px;">
             <button id="newsbtn" style="margin-right: 150px;">上一页</button>

             <button id="newsbtn">下一页</button>
        </div>

        <div style="margin-top: 150px; text-align: center;">
            <div style="margin-left:775px; width: 370px; color: #F1BF1E; font-size: 50px;">HOT NEWS</div>
            <div style=" width: 270px; font-size:36px; margin-left:825px;  background-color: white;position:absolute; top: 2960px;" >热门新闻</div>
        </div> 
        <div style=" margin-left: 100px;  width: 1720px; height: 500px; margin-top: 100px;">
          <div style="float: left;  width: 810px; border-right: #DDDDDD solid 1px;">
                <ul>
                    <li><a>给新车装贴XPEL隐形车衣已成为新车必备项目</a><span style="font-size: 18px; margin-left: 250px;">2021-05-02</span>  </li>
                    <li><a>武汉武昌区- 武汉汽车贴膜保时捷Taycan施工案例-武汉XPEL500..</a><span style="font-size: 18px; margin-left: 110px;">2021-05-02</span></li>
                    <li><a>武汉武昌区- 武汉汽车贴膜雷克萨斯570施工案例-武汉XPEL500...</a><span style="font-size: 18px; margin-left: 116px;">2021-05-02</span></li>
                    <li><a>武汉武昌区- 武汉汽车贴膜路虎卫士施工案例-武汉XPEL500..</a><span style="font-size: 18px; margin-left: 148px;">2021-05-02</span></li>
                    <li><a>武汉武昌区- 武汉汽车贴膜路虎揽运施工案例-武汉XPEL500官网</a><span style="font-size: 18px; margin-left: 123px;">2021-05-02</span></li>
                    <li><a>武汉武昌区- 武汉汽车贴膜保时捷Taycan施工案例-武汉XPEL500..</a><span style="font-size: 18px; margin-left: 110px;">2021-05-02</span></li>
                    <li><a>武汉武昌区- 武汉汽车贴膜雷克萨斯570施工案例-武汉XPEL500...</a><span style="font-size: 18px; margin-left: 115px;">2021-05-02</span></li>
                    <li><a>武汉武昌区- 武汉汽车贴膜路虎卫士施工案例-武汉XPEL500..</a><span style="font-size: 18px; margin-left: 147px;">2021-05-02</span></li>
                </ul>
          </div>
          <div style=" width: 830px; float: right;">
            <ul>
                <li><a>给新车装贴XPEL隐形车衣已成为新车必备项目</a><span style="font-size: 18px; margin-left: 230px;">2021-05-02</span>  </li>
                <li><a>武汉武昌区- 武汉汽车贴膜保时捷Taycan施工案例-武汉XPEL500..</a><span style="font-size: 18px; margin-left: 90px;">2021-05-02</span></li>
                <li><a>武汉武昌区- 武汉汽车贴膜雷克萨斯570施工案例-武汉XPEL500...</a><span style="font-size: 18px; margin-left: 98px;">2021-05-02</span></li>
                <li><a>武汉武昌区- 武汉汽车贴膜路虎卫士施工案例-武汉XPEL500..</a><span style="font-size: 18px; margin-left: 130px;">2021-05-02</span></li>
                <li><a>武汉武昌区- 武汉汽车贴膜路虎揽运施工案例-武汉XPEL500官网</a><span style="font-size: 18px; margin-left: 105px;">2021-05-02</span></li>
                <li><a>武汉武昌区- 武汉汽车贴膜保时捷Taycan施工案例-武汉XPEL500..</a><span style="font-size: 18px; margin-left: 93px;">2021-05-02</span></li>
                <li><a>武汉武昌区- 武汉汽车贴膜雷克萨斯570施工案例-武汉XPEL500...</a><span style="font-size: 18px; margin-left: 100px;">2021-05-02</span></li>
                <li><a>武汉武昌区- 武汉汽车贴膜路虎卫士施工案例-武汉XPEL500..</a><span style="font-size: 18px; margin-left: 133px;">2021-05-02</span></li>
            </ul>
          </div>
        </div>
        </div>
       
        <!-- footer -->
    <footer>
        <div style="height: 447px; width: 1920px; position: absolute; top: 4505px;">
            <div style="background-color: black; height: 102px; " >
                <div style="width: 100px;height: 102px;padding-top: 30px; float: left;"><img src="../../image/time.jpg" style="height: 44px; width: 44px; float: right;"></div>
                <div style="width: 600px;height: 102px;margin-left: 20px; float: left;"><span style="color: white;font-size: 18px; line-height: 102px;" >24小时服务，要立即订购汽车美装服务或需要报价，请联系我们</span></div>
                <div style="width: 400px;height: 102px; float: right;"><a href="../contact/contact.html" style="text-decoration:none;"><button style="width: 175px; height: 44px; border-radius: 22px; background-color: #242424; color: #FFFFFF;margin-top: 30px;box-shadow: none;">立即预约</button></a></div>
            </div>
            <div style="height: 264px; background-color: rgb(43, 42, 42);" class="topdiv">
                <div style="float: left; width: 596px;">
                  <img src="../../image/footer.png" >
                </div>
                <div style="float: left; width: 500px;">
                   <ul style="color: white; font-size: 18px; list-style: none;  margin-top: 60px;">
                       <li style="margin-top: 10px;">联系人：13871551155（李高智）</li>
                       <li style="margin-top: 10px;">Q  Q：89720887</li>
                       <li style="margin-top: 10px;">邮箱：89720887@qq.com</li>
                       <li style="margin-top: 10px;">地址：武汉市武昌区临江大道江滩69号</li>
                   </ul>
                </div>
                <div style="height: 264px;  margin-right: 300px;">
                    <div style="float: right; margin-top: 50px;">
                    <img src="../../image/weixin.jpg" style="width: 100px; height: 100px;">
                    <br>
                    <span style="color: white; font-size: 18px; width: 75px; height: 18px;margin-left: 15px;">扫描咨询</span>
                    </div>
                </div>
            </div>
            <div style="background-color: black; height: 71px; text-align: center;vertical-align:middle;" >
                  <span style="color: white;font-size: 18px; line-height: 60px;">武汉xpel500旗舰店版权所有. 备案号：鄂ICP备2020015039</span>
            </div>
    
        </div>
    </footer>
        
    </div>
</body>
<script language="javascript" type="text/javascript">
    
</script>
</html>