<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no" />
    <title>产品介绍</title>
    <meta name="keywords" content="{$seo.keywords}">
    <meta name="description" content="{$seo.description}">
    <link rel="stylesheet" href="__CDN__/css/product.css">
</head>
<style>
    #headera{
        text-decoration:none;
        font-size: 20px; 
        color: rgb(241, 239, 239);
        line-height: 60px;

    }
    #headera:hover{
        color: yellow;
        font-weight: bold;
    }
    .headerul li{
        width: 110px;
        height: 100px;
        display: inline-block; 
        margin-left: 60px;
        text-align: center;
      
    }
    a {
        text-decoration:none;
        font-size: 25px; 
        color: rgb(2, 2, 2);
        font-weight: bold;
    }
    a:hover{
        color: #F1BF1E;
        
    }
</style>

<body>

        <!-- header -->
        <div style="height: 100px; width: 1920px; background-color: black; float: left; position: absolute; top: 0px;" >
            <div style="height: 80px; width: 300px; margin-left: 30px;padding-top: 5px; float: left;"><img src="/assets/image/logo.jpg"></div>
            <div style="height: 100px; width: 1200px; float: left;">
                <ul class="headerul" style="list-style: none;">
                    <li ><a id="headera" href="/index/index.html" >首页</a></li>
                    <li ><a id="headera" href="/about/about.html" >关于我们</a></li>
                    <li ><a id="headera" href="/product/product.html" >产品介绍</a></li>
                    <li ><a id="headera" href="/anli/case-img.html" >客户案例</a></li>
                    <li ><a id="headera" href="/news/news.html">新闻动态</a></li>
                    <li ><a id="headera" href="/contact/contact.html">联系我们</a></li>
                </ul>
            </div>
            <div style=" float: right;margin-right: 80px; vertical-align: middle;">
                <div style="float: left; margin-top: 30px;"><img src="/assets/image/tel.jpg"></div>
                <div style="float: left; "><span style="font-size: 20px; color: rgb(241, 239, 239); line-height: 100px;">13871551155</span></div>
            </div>
        </div>

        <!-- 轮播图 -->
        <div style="float: left; position: absolute; top: 95px;">
            <div >
                <img src="/assets/image/chanpin.png" alt="chanpin">
            </div>
        </div>

        <!-- 内容 -->
        <div style="width: 1620px; height: 300px;  position: absolute; top: 900px; margin-left: 150px;">
            <div style="width: 1620px; height: 300px; ">
                <div style="float: left; width: 1050px; height: 300px;">
                      <span style="color: #F1BF1E; font-size: 36px; font-weight: bold;text-align: left;">ARES</span>
                      <div style="background-color: #F1BF1E;border-radius: 20px; float: right;width: 137px;height: 40px; text-align: center;">
                         <span style="color: #FFFFFF;font-size: 18px;font-family: Microsoft YaHei; font-weight: bold; line-height: 40px;">膜如其名</span>
                      </div>
                      
                      <div style="margin-top: 20px; border-bottom: #EEEEEE solid 1px;height: 150px;">
                        <span style="letter-spacing:0.02em;color:#666666; font-size:17px; font-family: Microsoft YaHei; line-height: 32px; font-weight: 400;">
                        自LUX PLUS面世以来，市场好评，倍受广大车主的青睐，所以我们推出了这个全新系列以满足市场需求。ARES保留了LUX PLUS的所有
                        <br>所需功能，如高光泽，无橘皮，抗腐蚀表现等，同时在厚度上仅仅比LUX PLUS薄了 1mil ，我们称之为“小LUX”。XPEL ARES系列同
                        <br>样使用背胶压缩技术,其韧性\背胶粘度\柔软度同样良好,让您的爱车更加易装贴,从而获得更好的保护。
                        </span>
                      </div> 
                      <div style="text-align: left;position: absolute;bottom: 0px;">
                          <span style="font-size: 20px;font-weight: bold;">功能介绍：</span><span style="color:#666666;font-size:17px;">强防护、强自净、提亮性 保护、十年质保 包边</span>
                      </div> 
                      <div style="float: right; margin-top: 50px;">
                        <a href="/product/product-list.html">立即查看>>></a>
                      </div>
                </div>
                <div style="float: right;">
                    <img src="/assets/image/chanpin1.png">
                </div>
            </div>
        <hr style="border: dashed #DDDDDD 1px;margin-top: 100px;">
            <div style="width: 1620px; height: 300px;margin-top: 100px; ">
                <div style="float: left; width: 1050px; height: 300px;">
                      <span style="color: #F1BF1E; font-size: 36px; font-weight: bold;text-align: left;">PROTEX</span>
                      <div style="background-color: #F1BF1E;border-radius: 20px; float: right;width: 201px;height: 40px; text-align: center;">
                         <span style="color: #FFFFFF;font-size: 18px;font-family: Microsoft YaHei; font-weight: bold; line-height: 40px;">呈现车漆亮度与曲线</span>
                      </div>
                      
                      <div style="margin-top: 20px; border-bottom: #EEEEEE solid 1px; height: 150px;">
                        <span style=" letter-spacing:0.02em;color:#666666; font-size:17px; font-family: Microsoft YaHei; line-height: 32px; font-weight: 400;">
                            新时代TPU基材，技术与生产工艺，8mil厚度不同于传统TPU的制成工艺。技术生产出来的膜更容易拉伸，分子还有记忆特性学习车的
                            <br>曲线弧度，手掌余温就能使膜变柔软，让分子重新排列而更服帖，呈现车漆亮度与曲线                        
                        </span>
                      </div>
                      <div style="text-align: left;position: absolute;bottom: -500px ;">
                        <span style="font-size: 20px;font-weight: bold;">功能介绍：</span><span style="color:#666666;font-size:17px;">强防护、强自净、提亮性 保护、十年质保 包边</span>
                      </div>
                      <div style="float: right; margin-top: 50px;">
                        <a href="/product/product-list.html">立即查看>>></a>
                      </div>  
                </div>
                <div style="float: right;">
                    <img src="/assets/image/chanpin2.png">
                </div>
            </div>
        <hr style="border: dashed #DDDDDD 1px;margin-top: 100px;">
            <div style="width: 1620px; height: 300px;margin-top: 100px;">
            <div style="float: left; width: 1050px; height: 300px;">
                  <span style="color: #F1BF1E; font-size: 36px; font-weight: bold;text-align: left;">MPD</span>
                  <div style="background-color: #F1BF1E;border-radius: 20px; float: right;width: 137px;height: 40px; text-align: center;">
                     <span style="color: #FFFFFF;font-size: 18px;font-family: Microsoft YaHei; font-weight: bold; line-height: 40px;">10mil厚度</span>
                  </div>
                  
                  <div style="margin-top: 20px;border-bottom: #EEEEEE solid 1px; height: 150px;">
                    <span style="letter-spacing:0.02em;color:#666666; font-size:17px; font-family: Microsoft YaHei; line-height: 32px; font-weight: 400;">
                        MPD系列在原本已经坚固耐用的薄膜基础上增加了额外保护层，同时延续了其他产品的光泽度及易装贴等特点。MPD是高厚度和抗腐
                        <br>蚀的保护膜。厚度10mil。保时捷汽车出厂时装贴在挡泥板、引擎盖、前头杠、后翼子板局部等位置，选择MPD可以使您安心驾驶每
                        <br>一天。                       
                    </span>
                  </div>
                  <div style="text-align: left;position: absolute;bottom: -1000px ;">
                    <span style="font-size: 20px;font-weight: bold;">功能介绍：</span><span style="color:#666666;font-size:17px;">强防护、强自净、提亮性 保护、十年质保 包边</span>
                  </div>   
                  <div style="float: right; margin-top: 50px;">
                    <a href="/product/product-list.html">立即查看>>></a>
                  </div> 
            </div>
            <div style="float: right;">
                <img src="/assets/image/chanpin3.png">
            </div>
            </div>
        <hr style="border: dashed #DDDDDD 1px;margin-top: 100px;">
            <div style="width: 1620px; height: 300px;margin-top: 100px;">
            <div style="float: left; width: 1050px; height: 300px;">
                  <span style="color: #F1BF1E; font-size: 36px; font-weight: bold;text-align: left;">LUX&LUX PLUS</span>
                  <div style="background-color: #F1BF1E;border-radius: 20px; float: right;width: 137px;height: 40px; text-align: center;">
                     <span style="color: #FFFFFF;font-size: 18px;font-family: Microsoft YaHei; font-weight: bold; line-height: 40px;">高光泽亮</span>
                  </div>
                  
                  <div style="margin-top: 20px;border-bottom: #EEEEEE solid 1px; height: 150px;">
                    <span style="letter-spacing:0.02em;color:#666666; font-size:17px; font-family: Microsoft YaHei; line-height: 32px; font-weight: 400;">
                        XPEL LUX可以说是中版的Ultimate系列，当然，它的性能要更强。XPEL LUX在Ultimate划伤自愈的基础上增加了更厚的涂层、选择
                        <br>了更好的TPU基材。承诺十年质保：不失真、不发黄、不开裂、不变形。值得一提的是，只要没有破坏涂层，而越厚的涂层越难被破坏。
                        <br>这也是8.5mil的XPEL LUX耐刮性比同类产品高的原因。                       
                    </span>
                  </div>
                  <div style="text-align: left;position: absolute;bottom: -1500px ;">
                    <span style="font-size: 20px;font-weight: bold;">功能介绍：</span><span style="color:#666666;font-size:17px;">强防护、强自净、提亮性 保护、十年质保 包边</span>
                  </div>    
                  <div style="float: right; margin-top: 50px;">
                    <a href="/product/product-list.html">立即查看>>></a>
                  </div>
            </div>
            <div style="float: right;">
                <img src="/assets/image/chanpin4.png">
            </div>
            </div>
        <hr style="border: dashed #DDDDDD 1px;margin-top: 100px;">
            <div style="width: 1620px; height: 300px;margin-top: 100px;">
            <div style="float: left; width: 1050px; height: 300px;">
                  <span style="color: #F1BF1E; font-size: 36px; font-weight: bold;text-align: left;">LUX MATTE</span>
                  <div style="background-color: #F1BF1E;border-radius: 20px; float: right;width: 137px;height: 40px; text-align: center;">
                     <span style="color: #FFFFFF;font-size: 18px;font-family: Microsoft YaHei; font-weight: bold; line-height: 40px;">丝滑质感</span>
                  </div>
                  
                  <div style="margin-top: 20px;border-bottom: #EEEEEE solid 1px; height: 150px;">
                    <span style="letter-spacing:0.02em;color:#666666; font-size:17px; font-family: Microsoft YaHei; line-height: 32px; font-weight: 400;">
                        MATTE系列是哑光绸缎质感的漆面膜，在提供车辆强大保护的同时给您带来不同的视觉体验，由XPEL LUX系列相同技术聚氨酯的涂层版
                        <br>面铸造消光工艺制成。无论您的车漆是哑面，亮面还是磨砂，LUX MATTE都会让它看起来不一样。                       
                    </span>
                  </div>
                  <div style="text-align: left;position: absolute;bottom: -2000px ;">
                    <span style="font-size: 20px;font-weight: bold;">功能介绍：</span><span style="color:#666666;font-size:17px;">强防护、强自净、提亮性 保护、十年质保 包边</span>
                  </div>    
                  <div style="float: right; margin-top: 50px;">
                    <a href="/product/product-list.html">立即查看>>></a>
                  </div>
            </div>
            <div style="float: right;">
                <img src="/assets/image/chanpin5.png">
            </div>
            </div>
        <hr style="border: dashed #DDDDDD 1px;margin-top: 100px;">
            <div style="width: 1620px; height: 300px;margin-top: 100px;">
            <div style="float: left; width: 1050px; height: 300px;">
                  <span style="color: #F1BF1E; font-size: 36px; font-weight: bold;text-align: left;">ZEUS</span>
                  <div style="background-color: #F1BF1E;border-radius: 20px; float: right;width: 137px;height: 40px; text-align: center;">
                     <span style="color: #FFFFFF;font-size: 18px;font-family: Microsoft YaHei; font-weight: bold; line-height: 40px;">次时代智能膜</span>
                  </div>
                  
                  <div style="margin-top: 20px;border-bottom: #EEEEEE solid 1px; height: 150px;">
                    <span style="letter-spacing:0.02em;color:#666666; font-size:17px; font-family: Microsoft YaHei; line-height: 32px; font-weight: 400;">
                        ZEUS在中国市场处于遥不可及的地位，其表面的gel-free涂层拥有“自我学习”功能，可以让施工更便捷，随着你手中温度的变化，
                        <br>可以使膜面分子结构重新排列从而学习车漆表面的轮廓。这使得ZEUS可以在当今车辆任何复杂的轮廓上进行操作和固定，同时保持其光
                        <br>泽度，做到无压力装贴。                       
                    </span>
                  </div>
                  <div style="text-align: left;position: absolute;bottom: -2500px ;">
                    <span style="font-size: 20px;font-weight: bold;">功能介绍：</span><span style="color:#666666;font-size:17px;">强防护、强自净、提亮性 保护、十年质保 包边</span>
                  </div>  
                  <div style="float: right; margin-top: 50px;">
                    <a href="/product/product-list.html">立即查看>>></a>
                  </div>  
            </div>
            <div style="float: right;">
                <img src="/assets/image/chanpin6.png">
            </div>
            </div>
        <hr style="border: dashed #DDDDDD 1px;margin-top: 100px;">
            <div style="width: 1620px; height: 300px;margin-top: 100px;">
            <div style="float: left; width: 1050px; height: 300px;">
                  <span style="color: #F1BF1E; font-size: 36px; font-weight: bold;text-align: left;">ASP</span>
                  <div style="background-color: #F1BF1E;border-radius: 20px; float: right;width: 181px;height: 40px; text-align: center;">
                     <span style="color: #FFFFFF;font-size: 18px;font-family: Microsoft YaHei; font-weight: bold; line-height: 40px;">高等级漆面保护膜</span>
                  </div>
                  
                  <div style="margin-top: 20px;border-bottom: #EEEEEE solid 1px; height: 150px;">
                    <span style="letter-spacing:0.02em;color:#666666; font-size:17px; font-family: Microsoft YaHei; line-height: 32px; font-weight: 400;">
                        ASP（汽车生存产品）系列是由弹性聚合物组合而成，进口汽车原厂项目、4S店、车行等新车提供漆面保护膜，ASP-A系列：为我们的4S合作伙伴带来性能和保护新车不可或缺的产品。ASP-M系列：为我们的
                        <BR>4S合作伙伴提供的产品，为我们的车主提供保护。                       
                    </span>
                  </div>
                  <div style="text-align: left;position: absolute;bottom: -3000px ;">
                    <span style="font-size: 20px;font-weight: bold;">功能介绍：</span><span style="color:#666666;font-size:17px;">强防护、强自净、提亮性 保护、十年质保 包边</span>
                  </div>    
                  <div style="float: right; margin-top: 50px;">
                    <a href="/product/product-list.html">立即查看>>></a>
                  </div>
            </div>
            <div style="float: right;">
                <img src="/assets/image/chanpin7.png">
            </div>
            </div> 
        </div>
        
        <!-- footer -->
    <footer>
        <div style="height: 447px; width: 1920px; position: absolute; top: 4375px;">
            <div style="background-color: black; height: 102px; " >
                <div style="width: 100px;height: 102px;padding-top: 30px; float: left;"><img src="/assets/image/time.jpg" style="height: 44px; width: 44px; float: right;"></div>
                <div style="width: 600px;height: 102px;margin-left: 20px; float: left;"><span style="color: white;font-size: 18px; line-height: 102px;" >24小时服务，要立即订购汽车美装服务或需要报价，请联系我们</span></div>
                <div style="width: 400px;height: 102px; float: right;"><a href="contact/contact.html" style="text-decoration:none;"><button style="width: 175px; height: 44px; border-radius: 22px; background-color: #242424; color: #FFFFFF;margin-top: 30px;box-shadow: none;">立即预约</button></a></div>
            </div>
            <div style="height: 264px; background-color: rgb(43, 42, 42);" class="topdiv">
                <div style="float: left; width: 596px;">
                  <img src="/assets/image/footer.png" >
                </div>
                <div style="float: left; width: 500px;">
                   <ul style="color: white; font-size: 18px; list-style: none;  margin-top: 60px;">
                       <li style="margin-top: 10px;">联系人：13871551155（李高智）</li>
                       <li style="margin-top: 10px;">Q  Q：89720887</li>
                       <li style="margin-top: 10px;">邮箱：89720887@qq.com</li>
                       <li style="margin-top: 10px;">地址：武汉市武昌区临江大道江滩69号</li>
                   </ul>
                </div>
                <div style="height: 264px;  margin-right: 300px;">
                    <div style="float: right; margin-top: 50px;">
                    <img src="/assets/image/weixin.jpg" style="width: 100px; height: 100px;">
                    <br>
                    <span style="color: white; font-size: 18px; width: 75px; height: 18px;margin-left: 15px;">扫描咨询</span>
                    </div>
                </div>
            </div>
            <div style="background-color: black; height: 71px; text-align: center;vertical-align:middle;" >
                  <span style="color: white;font-size: 18px; line-height: 60px;">武汉xpel500旗舰店版权所有. 备案号：鄂ICP备2020015039</span>
            </div>
    
        </div>
    </footer>
        

</body>

</html>