<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no" />
    <title>产品详情</title>
    <meta name="keywords" content="{$seo.keywords}">
    <meta name="description" content="{$seo.description}">
    <link rel="stylesheet" href="__CDN__/css/product-list.css">
</head>
<style>
    #headera{
        text-decoration:none;
        font-size: 20px; 
        color: rgb(241, 239, 239);
        line-height: 60px;

    }
    #headera:hover{
        color: yellow;
        font-weight: bold;
    }
    .headerul li{
        width: 110px;
        height: 100px;
        display: inline-block; 
        margin-left: 60px;
        text-align: center;
      
    }
    a {
        text-decoration:none;
        font-size: 16px; 
        color: rgb(2, 2, 2);
        line-height: 40px;
    }
    a:hover{
        color: #F1BF1E;
        font-weight: bold;
    }
    .tupiandiv{
        width: 553px;
        height: 334px;
        float: left;
    }
</style>

<body>

         <!-- header -->
         <div style="height: 100px; width: 1920px; background-color: black; float: left; position: absolute; top: 0px;" >
            <div style="height: 80px; width: 300px; margin-left: 30px;padding-top: 5px; float: left;"><img src="/assets/image/logo.jpg"></div>
            <div style="height: 100px; width: 1200px; float: left;">
                <ul class="headerul" style="list-style: none;">
                    <li ><a id="headera" href="/index/index.html" >首页</a></li>
                    <li ><a id="headera" href="/about/about.html" >关于我们</a></li>
                    <li ><a id="headera" href="/product/product.html" >产品介绍</a></li>
                    <li ><a id="headera" href="/anli/case-img.html" >客户案例</a></li>
                    <li ><a id="headera" href="/news/news.html">新闻动态</a></li>
                    <li ><a id="headera" href="/contact/contact.html">联系我们</a></li>
                </ul>
            </div>
            <div style=" float: right;margin-right: 80px; vertical-align: middle;">
                <div style="float: left; margin-top: 30px;"><img src="/assets/image/tel.jpg"></div>
                <div style="float: left; "><span style="font-size: 20px; color: rgb(241, 239, 239); line-height: 100px;">13871551155</span></div>
            </div>
        </div>

        <!-- 轮播图 -->
        <div style="float: left; position: absolute; top: 95px;">
            <div >
                <img src="/assets/image/chanpin.png" alt="chanpin">
            </div>
        </div>

        <!-- 内容 -->
        <div style="position: absolute; top: 895px; width: 1720px; margin-left: 100px;">
               <div style="text-align: center; margin-bottom: 30px;">
                <span style="font-weight: bold; font-size: 36px; color: #000; ">XPEL-ARES</span>
               </div> 
               <div style="margin-bottom: 40px; ">
                   <span style="font-size: 18px;color: #333333;">新时代TPU基材，采用和ZEUS相同的涂层技术与生产工艺，不同于传统TPU的制成工艺。此技术生产出来的膜更容易拉伸，分子还有记忆特性学习车的曲线弧度，手掌余温就能使膜变柔软，让分子重新排列而更服帖，
                       <br>完美呈现车漆亮度与性感曲线。具备优异的抗腐蚀能力、耐黄变，官方质保十年，6万美金以下的车辆为最佳选择。我们称之为“小ZEUS”</span>
               </div>
               <div style="margin-bottom: 100px;">
                   <span style="font-size: 18px; color: #333333;">
                    A popular product in the Canadian market with the growing demand in China, the PROTEX film has been specifically formulated for China's environment & is now being newly introduced to the
                    <br>region. The film is made by the latest patent gel-free technology which helps provide easier installations while still maintain a high gloss finish. The film is softer, more stretchable, and offers incredible 
                    <br>value with the best protection possible.
                   </span>
               </div>  
               <div>
                   <img src="/assets/image/cpxq.png">
               </div>   
               <div style="margin-top: 80px; width: 1720px; height: 400px;">
                  <div style="width: 500px;height: 300px; float: left;margin-right: 70px;">
                     <div>
                         <img src="/assets/image/cpxq1.png">
                     </div>
                     <div style="text-align: left; margin-top: 20px;margin-left: 10px; width: 490px; ">
                         <span style="font-size: 24px;">漆面上的划痕</span>
                         <p></p>
                         
                         <span>当暴露在高温下时（摄氏50度以上），增强的透明涂层性能会随
                             <br>着时间的推移消除细小的划痕和太阳纹。</span>
                     </div>
                  </div>
                  <div style="width: 500px;height: 300px; float: left;margin-right: 70px;">
                    <div>
                        <img src="/assets/image/cpxq2.png">
                    </div>
                    <div style="text-align: left; margin-top: 20px;margin-left: 10px; width: 490px; ">
                        <span style="font-size: 24px;">漆面上的腐蚀</span>
                        <p></p>
                        <span>与低品质的产品不同，道路污垢、鸟粪、昆虫和空气污染不容易
                            <br>使漆面膜染色或变黄。</span>
                    </div>
                  </div>
                  <div style="width: 500px;height: 300px; float: left;">
                    <div>
                        <img src="/assets/image/cpxq3.png">
                    </div>
                    <div style="text-align: left; margin-top: 20px;margin-left: 10px; width: 490px; ">
                        <span style="font-size: 24px;">十年安心质保</span>
                        <p></p>
                        
                        <span>经久耐用。XPEL-PROTEX系列提供全面的10年保修服务，确保
                            <br>您的车辆在未来十年内保持最佳状态。</span>
                    </div>
                  </div>
               </div> 
               <div style="margin-top: 80px; width: 1720px; height: 400px;">
                  <div style="width: 500px;height: 300px; float: left;margin-right: 70px;">
                   <div>
                       <img src="/assets/image/cpxq4.png">
                   </div>
                   <div style="text-align: left; margin-top: 20px;margin-left: 10px; width: 490px; ">
                       <span style="font-size: 24px;">持久镜面效果</span>
                       <p></p>
                       
                       <span>装贴后后与原厂油漆无法区分，并且还可以显著提升润度。</span>
                   </div>
                  </div>
                  <div style="width: 500px;height: 300px; float: left;margin-right: 70px;">
                  <div>
                      <img src="/assets/image/cpxq5.png">
                  </div>
                  <div style="text-align: left; margin-top: 20px;margin-left: 10px; width: 490px; ">
                      <span style="font-size: 24px;">全球汽车版型数据预处理系统（DAP）</span>
                      <p></p>
                      <span>XPEL针对车身每个部件精度进行了优化，用我们专车专用的DAP
                          <br>版型数据库做到精准包边。</span>
                  </div>
                  </div>
                  <div style="width: 500px;height: 300px; float: left;">
                  <div>
                      <img src="/assets/image/cpxq6.png">
                  </div>
                  <div style="text-align: left; margin-top: 20px;margin-left: 10px; width: 490px; ">
                      <span style="font-size: 24px;">长效保护漆面</span>
                      <p></p>
                      
                      <span>XPEL-PROTEX系列为您和广阔道路之间的任何刮擦提供卓越的
                          <br>冲击保护。</span>
                  </div>
                  </div>
               </div> 
            <div style="margin-top: 100px; border-bottom:  solid #EEEEEE 1px;">
                <div style="width: 124px; height: 60px; text-align: center;border-bottom: 2px solid #F1BF1E;">
                <span style="font-size: 28px; line-height: 30px; font-weight: bold; color: #F1BF1E;">猜你喜欢</span>
                </div>
            </div>
            <div style=" width: 1720px; height: 450px; margin-top: 80px;">
                <div style="float: left;  width: 810px; border-right: #DDDDDD solid 1px;">
                    <ul>
                        <li><a>给新车装贴XPEL隐形车衣已成为新车必备项目</a><span style="font-size: 18px; margin-left: 250px;">2021-05-02</span>  </li>
                        <li><a>武汉武昌区- 武汉汽车贴膜保时捷Taycan施工案例-武汉XPEL500..</a><span style="font-size: 18px; margin-left: 110px;">2021-05-02</span></li>
                        <li><a>武汉武昌区- 武汉汽车贴膜雷克萨斯570施工案例-武汉XPEL500...</a><span style="font-size: 18px; margin-left: 116px;">2021-05-02</span></li>
                        <li><a>武汉武昌区- 武汉汽车贴膜路虎卫士施工案例-武汉XPEL500..</a><span style="font-size: 18px; margin-left: 148px;">2021-05-02</span></li>
                        <li><a>武汉武昌区- 武汉汽车贴膜路虎揽运施工案例-武汉XPEL500官网</a><span style="font-size: 18px; margin-left: 123px;">2021-05-02</span></li>
                        <li><a>武汉武昌区- 武汉汽车贴膜保时捷Taycan施工案例-武汉XPEL500..</a><span style="font-size: 18px; margin-left: 110px;">2021-05-02</span></li>
                        <li><a>武汉武昌区- 武汉汽车贴膜雷克萨斯570施工案例-武汉XPEL500...</a><span style="font-size: 18px; margin-left: 115px;">2021-05-02</span></li>
                        <li><a>武汉武昌区- 武汉汽车贴膜路虎卫士施工案例-武汉XPEL500..</a><span style="font-size: 18px; margin-left: 147px;">2021-05-02</span></li>
                    </ul>
                </div>
                <div style=" width: 830px; float: right;">
                <ul>
                    <li><a>给新车装贴XPEL隐形车衣已成为新车必备项目</a><span style="font-size: 18px; margin-left: 230px;">2021-05-02</span>  </li>
                    <li><a>武汉武昌区- 武汉汽车贴膜保时捷Taycan施工案例-武汉XPEL500..</a><span style="font-size: 18px; margin-left: 90px;">2021-05-02</span></li>
                    <li><a>武汉武昌区- 武汉汽车贴膜雷克萨斯570施工案例-武汉XPEL500...</a><span style="font-size: 18px; margin-left: 98px;">2021-05-02</span></li>
                    <li><a>武汉武昌区- 武汉汽车贴膜路虎卫士施工案例-武汉XPEL500..</a><span style="font-size: 18px; margin-left: 130px;">2021-05-02</span></li>
                    <li><a>武汉武昌区- 武汉汽车贴膜路虎揽运施工案例-武汉XPEL500官网</a><span style="font-size: 18px; margin-left: 105px;">2021-05-02</span></li>
                    <li><a>武汉武昌区- 武汉汽车贴膜保时捷Taycan施工案例-武汉XPEL500..</a><span style="font-size: 18px; margin-left: 93px;">2021-05-02</span></li>
                    <li><a>武汉武昌区- 武汉汽车贴膜雷克萨斯570施工案例-武汉XPEL500...</a><span style="font-size: 18px; margin-left: 100px;">2021-05-02</span></li>
                    <li><a>武汉武昌区- 武汉汽车贴膜路虎卫士施工案例-武汉XPEL500..</a><span style="font-size: 18px; margin-left: 133px;">2021-05-02</span></li>
                </ul>
                </div>
            </div>
            <div style=" border-bottom:  solid #EEEEEE 1px;">
                <div style="width: 124px; height: 60px; text-align: center;border-bottom: 2px solid #F1BF1E;">
                <span style="font-size: 28px; line-height: 30px; font-weight: bold; color: #F1BF1E;">热门案例</span>
                </div>
            </div>
            <div style="width: 1720px; height: 450px;margin-top: 100px;">  
                <div style="width: 1720px; ">
                    <div class="tupiandiv" style="margin-right: 30px; text-align: center;">
                        <img src="/assets/image/cpxq7.png">
                        <p></p>
                        &nbsp;&nbsp;
                        <a href="anli/case-img-list.html">
                        <span style="font-size: 25px;">武汉汽车贴膜 -
                        <span style="color: #F1BF1E;">迈凯伦</span>施工案例
                        </span></a>
                    </div>
                    <div class="tupiandiv" style="margin-right: 30px; text-align: center;">
                        <img src="/assets/image/cpxq8.png">
                        <p></p>
                        &nbsp;&nbsp;
                        <a href="anli/case-img-list.html">
                        <span style="font-size: 25px;">武汉汽车贴膜 -
                        <span style="color: #F1BF1E;">保时捷Taycan</span>施工案例
                        </span></a>
                    </div>
                    <div class="tupiandiv" style="text-align: center;">
                        <img src="/assets/image/cpxq9.png">
                        <p></p>
                        &nbsp;&nbsp;
                        <a href="anli/case-img-list.html">
                        <span style="font-size: 25px;">武汉汽车贴膜 -
                        <span style="color: #F1BF1E;">雷克萨斯570</span>施工案例
                        </span></a>
                    </div>
                </div>  
            </div>
            
        </div>

        <!-- footer -->
        <footer>
            <div style="height: 447px; width: 1920px; position: absolute; top: 4075px;">
                <div style="background-color: black; height: 102px; " >
                    <div style="width: 100px;height: 102px;padding-top: 30px; float: left;"><img src="/assets/image/time.jpg" style="height: 44px; width: 44px; float: right;"></div>
                    <div style="width: 600px;height: 102px;margin-left: 20px; float: left;"><span style="color: white;font-size: 18px; line-height: 102px;" >24小时服务，要立即订购汽车美装服务或需要报价，请联系我们</span></div>
                    <div style="width: 400px;height: 102px; float: right;"><a href="contact/contact.html" style="text-decoration:none;"><button style="width: 175px; height: 44px; border-radius: 22px; background-color: #242424; color: #FFFFFF;margin-top: 30px;box-shadow: none;">立即预约</button></a></div>
                </div>
                <div style="height: 264px; background-color: rgb(43, 42, 42);" class="topdiv">
                    <div style="float: left; width: 596px;">
                      <img src="/assets/image/footer.png" >
                    </div>
                    <div style="float: left; width: 500px;">
                       <ul style="color: white; font-size: 18px; list-style: none;  margin-top: 60px;">
                           <li style="margin-top: 10px;">联系人：13871551155（李高智）</li>
                           <li style="margin-top: 10px;">Q  Q：89720887</li>
                           <li style="margin-top: 10px;">邮箱：89720887@qq.com</li>
                           <li style="margin-top: 10px;">地址：武汉市武昌区临江大道江滩69号</li>
                       </ul>
                    </div>
                    <div style="height: 264px;  margin-right: 300px;">
                        <div style="float: right; margin-top: 50px;">
                        <img src="/assets/image/weixin.jpg" style="width: 100px; height: 100px;">
                        <br>
                        <span style="color: white; font-size: 18px; width: 75px; height: 18px;margin-left: 15px;">扫描咨询</span>
                        </div>
                    </div>
                </div>
                <div style="background-color: black; height: 71px; text-align: center;vertical-align:middle;" >
                      <span style="color: white;font-size: 18px; line-height: 60px;">武汉xpel500旗舰店版权所有. 备案号：鄂ICP备2020015039</span>
                </div>
        
            </div>
        </footer>
            

 
</body>

</html>