<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no" />
    <title>百科小知识</title>
    <meta name="keywords" content="{$seo.keywords}">
    <meta name="description" content="{$seo.description}">
</head>
<!-- <link rel="stylesheet" href="/assets/css/quesstion.css"> -->
<style>
    #headera{
        text-decoration:none;
        font-size: 20px; 
        color: rgb(241, 239, 239);
        line-height: 60px;

    }
    #headera:hover{
        color: yellow;
        font-weight: bold;
    }
    .headerul li{
        width: 110px;
        height: 100px;
        display: inline-block; 
        margin-left: 60px;
        text-align: center;
      
    }
    .title{
        font-size: 20px;
        font-weight: bold;
        color: #F1BF1E;
    }
    .quesstion-container-list-container{
        font-size: 18px;
        color: #666666;
    }
</style>
<body>
    <!-- header -->
    <div style="height: 100px; width: 1920px; background-color: black; float: left; position: absolute; top: 0px;" >
        <div style="height: 80px; width: 300px; margin-left: 30px;padding-top: 5px; float: left;"><img src="/assets/image/logo.jpg"></div>
        <div style="height: 100px; width: 1200px; float: left;">
            <ul class="headerul" style="list-style: none;">
                <li ><a id="headera" href="/index/index.html" >首页</a></li>
                <li ><a id="headera" href="/about/about.html" >关于我们</a></li>
                <li ><a id="headera" href="/product/product.html" >产品介绍</a></li>
                <li ><a id="headera" href="/anli/case-img.html" >客户案例</a></li>
                <li ><a id="headera" href="/news/news.html">新闻动态</a></li>
                <li ><a id="headera" href="/contact/contact.html">联系我们</a></li>
            </ul>
        </div>
        <div style=" float: right;margin-right: 80px; vertical-align: middle;">
            <div style="float: left; margin-top: 30px;"><img src="/assets/image/tel.jpg"></div>
            <div style="float: left; "><span style="font-size: 20px; color: rgb(241, 239, 239); line-height: 100px;">13871551155</span></div>
        </div>
    </div>
     <!-- 轮播图 -->
    <div style="float: left; position: absolute; top: 100px;">
        <div >
            <img src="/assets/image/banner.png" alt="about">
        </div>
    </div>
    <!-- 内容 -->
        <div style="margin-left: 200px; width: 1520px;position: absolute; top: 1000px; ">
            <h2 class="quesstion-title">关于我们产品的常见问题</h2>
            <div class="row quesstion-container">
                <div class="col-lg-1 quesstion-container-list">
                    <div class="quesstion-container-list-title">
                        <span class="fk"></span>
                        <span class="fh">∧</span>
                        <h4 class="title">如果贴了XPEL隐形车衣，我的漆面就可以不受到任何伤害了吗？</h4>
                    </div>
                    <div class="quesstion-container-list-container">
                        XPEL漆面保护膜只可以很大限度的保护您的爱车，也是保护原厂车漆产品。
                    </div>
                </div>
                <div class="col-lg-1 quesstion-container-list">
                    <div class="quesstion-container-list-title">
                        <span class="fk"></span>
                        <span class="fh">∧</span>
                        <hr style="border: dashed #DDDDDD 1px;margin-top: 50px; margin-bottom: 50px;">
                        <h4 class="title">如果我的保护膜在装贴过后发生剐蹭如何解决?</h4>
                    </div>
                    <div class="quesstion-container-list-container">
                        一些小的剐蹭如果损伤了膜面，我们的授权店是可以免费为您提供小范围的修补，如果伤害面较大那就需要从新购买了，但是如果您在路面发生了碰撞如果是对方责任，您可以向对方保险公司申请理赔，如果己方有责任，购买了设备附加险也可以向保险公司申请理赔。如流程您不熟悉也可以让为您服务的授权店面协助您完成。
                    </div>
                </div>
                <div class="col-lg-1 quesstion-container-list">
                    <div class="quesstion-container-list-title">
                        <span class="fk"></span>
                        <span class="fh">∧</span>
                        <hr style="border: dashed #DDDDDD 1px;margin-top: 50px; margin-bottom: 50px;">
                        <h4 class="title">我经过了解发现XPEL保护膜分几种不同的型号具体都有什么区别?</h4>
                    </div>
                    <div class="quesstion-container-list-container">
                        这个您可以浏览官网的产品介绍或者咨询附近的授权经销商针对您的爱车选择一款心怡的产品。
                    </div>
                </div>
                <div class="col-lg-1 quesstion-container-list">
                    <div class="quesstion-container-list-title">
                        <span class="fk"></span>
                        <span class="fh">∧</span>
                        <hr style="border: dashed #DDDDDD 1px;margin-top: 50px; margin-bottom: 50px;">
                        <h4 class="title">我看到网站里还有很多装贴工具和一些液体介绍，这些液体具体在贴膜过程中都有什么功效？?</h4>
                    </div>
                    <div class="quesstion-container-list-container">
                        这个您可以浏览官网的产品介绍或者咨询附近的授权经销商针对您的爱车选择一款心怡的产品。您看到的工具都是美国进口XPEL专用的刮板、烤枪、金属大喷壶。液体一共分4种：
                        <br>
                        1.洗车液 
                        <br>XPEL专用的洗车液特殊的温和中性配方，杜绝有些强碱洗车液对漆面造成的伤害，可以把漆面的一些顽固污渍甚至一些肉眼看不到的结晶颗粒清洗干净。
                        <br>
                        2.洗膜液 
                        <br>XPEL汽车漆面保护膜清洁剂作用为清洁由于环境因素对保护膜造成的污迹、污垢。清洁剂能清洁漆面保护膜残留的污迹，领保护膜恢复到像刚装贴一样的清晰度和亮度。
                        <br>
                        3.安装液
                        <br>XPEL安装液可提供稳定安装，本产品的设计就是为了解决常见的安装问题如胶印、胶粘性的衰减，在安装过程中无需任何稀释添加，地方水质差距对安装造成的影响。并且保证漆面膜8年不变色，不发黄。如果使用普通的沐浴露施工，背胶会和沐浴露产生氧化反应，有可能发生变色发黄等现象。
                        <br>
                        4.封装液
                        <br>XPEL保护膜密封剂提供给保护膜抗污能力，为保护膜提供了像汽车打蜡的功效，由于此产品是针对聚氨酯材质进行保护，所以比其他一般的打蜡产品或抛光产品、XPEL保护膜密封剂能给保护膜提供保护。
                    </div>
                </div>
                <div class="col-lg-1 quesstion-container-list">
                    <div class="quesstion-container-list-title">
                        <span class="fk"></span>
                        <span class="fh">∧</span>
                        <hr style="border: dashed #DDDDDD 1px;margin-top: 50px; margin-bottom: 50px;">
                        <h4 class="title">我在中国XX地区，如何可以找到正规的店铺去购买?</h4>
                    </div>
                    <div class="quesstion-container-list-container">
                        您可以在官网查询当地的服务店面进行挑选。或者您也可以直接到XPEL天猫商城去咨询，为您提供方便快捷的购物流程，下单后，天猫XPEL旗舰店会给您指定当地正规的授权经销商去装贴，让您享受服务团队、一整套的美国标准施工流程，让您天天开新车。
                    </div>
                </div>
                <div class="col-lg-1 quesstion-container-list">
                    <div class="quesstion-container-list-title">
                        <span class="fk"></span>
                        <span class="fh">∧</span>
                        <hr style="border: dashed #DDDDDD 1px;margin-top: 50px; margin-bottom: 50px;">
                        <h4 class="title">我想装贴XPEL，想问一下价格是多少?</h4>
                    </div>
                    <div class="quesstion-container-list-container">
                        为保证统一的施工标准，装贴的质量！在全国认证考核通过的店面才能正确装贴我们的产品，我们有官方的全国统一报价系统，根据不同的车型施工难度不同，选择不同型号的漆面膜有不同的价格。
                    </div>
                </div>
                <div class="col-lg-1 quesstion-container-list">
                    <div class="quesstion-container-list-title">
                        <span class="fk"></span>
                        <span class="fh">∧</span>
                        <hr style="border: dashed #DDDDDD 1px;margin-top: 50px; margin-bottom: 50px;">
                        <h4 class="title">我在YouTube和Facebook上看到很多车装贴XPEL，这些店卖的都是xpel吗？</h4>
                    </div>
                    <div class="quesstion-container-list-container">
                        是的您可以在这些全球视频及社交网站上看到很多案例，这些都是我们全球各地的经销商在为车主服务完上传的视频或图片，目的是为了让更多爱车的车主可以为自己的爱车选择正确的产品来保护。这些视频可以为即将想装贴的客户提供更加便利的方式去了解XPEL，您只需在网站搜索栏打上您爱车的型号，便可浏览施工过程及完成效果。xpel在装贴过后是可以在官网查询电子质保的，有您爱车的信息及装贴时间、部位等。
                    </div>
                </div>
                <div class="col-lg-1 quesstion-container-list">
                    <div class="quesstion-container-list-title">
                        <span class="fk"></span>
                        <span class="fh">∧</span>
                        <hr style="border: dashed #DDDDDD 1px;margin-top: 50px; margin-bottom: 50px;">
                        <h4 class="title">XPEL承诺质保十年，质保都包含什么？</h4>
                    </div>
                    <div class="quesstion-container-list-container">
                        官方质保十年是XPEL对全球装贴XPEL漆面保护膜车主的承诺，质保范围包括，不变黄，不失真，不开裂，不起边，如出现以上问题XPEL是可以免费为客户更换的，甚至于气候恶劣的地区中东XPEL也保持着这一份对车主的承诺。
                    </div>
                </div>
                <div class="col-lg-1 quesstion-container-list">
                    <div class="quesstion-container-list-title">
                        <span class="fk"></span>
                        <span class="fh">∧</span>
                        <hr style="border: dashed #DDDDDD 1px;margin-top: 50px; margin-bottom: 50px;">
                        <h4 class="title">XPEL的专车专用是指？</h4>
                    </div>
                    <div class="quesstion-container-list-container">
                        美国XPEL专车专用是指我们拥有全球技术去采集每一款车型的数据，从1935年到2019年（包括未上市车型）总体板块超过10.0000+块预切割汽车版型，专车专用是我们DAP数据的代名词，并且通过该技术成功在加拿大上市。为客户免去装贴漆面保护膜要拆卸汽车零配件，又要在车漆上用刀裁损伤漆面的顾虑，从而去保护您的爱车。
                    </div>
                </div>
                <div class="col-lg-1 quesstion-container-list">
                    <div class="quesstion-container-list-title">
                        <span class="fk"></span>
                        <span class="fh">∧</span>
                        <hr style="border: dashed #DDDDDD 1px;margin-top: 50px; margin-bottom: 50px;">
                        <h4 class="title">XPEL是进口的吗？哪个国家的？</h4>
                    </div>
                    <div class="quesstion-container-list-container">
                        是的，XPEL是进口的保护膜产品。并且在全球超过62个国家都有装贴服务商。
                    </div>
                </div>
                <div class="col-lg-1 quesstion-container-list">
                    <div class="quesstion-container-list-title">
                        <span class="fk"></span>
                        <span class="fh">∧</span>
                        <hr style="border: dashed #DDDDDD 1px;margin-top: 50px; margin-bottom: 50px;">
                        <h4 class="title">XPEL可以安装在标志上吗？</h4>
                    </div>
                    <div class="quesstion-container-list-container">
                        是。涂料保护膜可应用于任何光滑的涂漆表面。
                    </div>
                </div>
                <div class="col-lg-1 quesstion-container-list">
                    <div class="quesstion-container-list-title">
                        <span class="fk"></span>
                        <span class="fh">∧</span>
                        <hr style="border: dashed #DDDDDD 1px;margin-top: 50px; margin-bottom: 50px;">
                        <h4 class="title">这个产品可以打蜡吗？</h4>
                    </div>
                    <div class="quesstion-container-list-container">
                        虽然您可以为薄膜上蜡，但请确保您使用的产品不含浓度超过5％的石脑油或煤油，并且还要避免含有染料的蜡。为获得良好效果，建议使用我们的XPEL无瑕涂层保护膜封装液。该产品经过特殊配方，可与聚氨酯涂层保护膜配合使用，提供保护和光泽，同时不含任何会随着时间推移而变色的成分。
                    </div>
                </div>
                <div class="col-lg-1 quesstion-container-list">
                    <div class="quesstion-container-list-title">
                        <span class="fk"></span>
                        <span class="fh">∧</span>
                        <hr style="border: dashed #DDDDDD 1px;margin-top: 50px; margin-bottom: 50px;">
                        <h4 class="title">XPEL也有窗膜，比起市面上其他的窗膜有什么不同？都有哪些型号？</h4>
                    </div>
                    <div class="quesstion-container-list-container">
                        我们XPEL的产品系列有隔热膜、X2隔热膜、AP隔热膜、GL常规隔热膜；其中X5和X2系列隔热、不屏蔽信号不氧化。
                        <br>
                        我们提供全系列的产品型号：
                        <br>
                        XPEL-X5 厚度5mil 透光率70、30、15
                        <br>
                        XPEL-X2 厚度2mil 透光率70、30、15
                        <br>
                        XPEL-AP 厚度1.5mil 透光率70、30、15
                        <br>
                        XPEL-GL 厚度1mi l 透光率70、25
                    </div>
                </div>
                <div class="col-lg-1 quesstion-container-list">
                    <div class="quesstion-container-list-title">
                        <span class="fk"></span>
                        <span class="fh">∧</span>
                        <hr style="border: dashed #DDDDDD 1px;margin-top: 50px; margin-bottom: 50px;">
                        <h4 class="title">XPEL窗膜的保修期是多久？</h4>
                    </div>
                    <div class="quesstion-container-list-container">
                        我们为AP，X2和X5系列提供可转让的终身保修，GL提供5年保修。保修范围涵盖窗膜使用寿命期间的开裂，剥落，起泡，分层，褪色和变色。保修是可转让的，即使所有权发生变化，也将继续保修。
                    </div>
                </div>
                <div class="col-lg-1 quesstion-container-list">
                    <div class="quesstion-container-list-title">
                        <span class="fk"></span>
                        <span class="fh">∧</span>
                        <hr style="border: dashed #DDDDDD 1px;margin-top: 50px; margin-bottom: 50px;">
                        <h4 class="title">如果我想以后拆下大灯保护膜怎么办？</h4>
                    </div>
                    <div class="quesstion-container-list-container">
                        去除过程只需要加热灯膜，揭起一个小角，向后倾斜45度角的方向拉伸灯膜。你需要用一点力气就能将它取下，剥落时通常不会残留残胶。如果有残胶出现，喷柏油清洁剂或者酒精轻轻擦拭即可将其除去。
                    </div>
                </div>
                <div class="col-lg-1 quesstion-container-list">
                    <div class="quesstion-container-list-title">
                        <span class="fk"></span>
                        <span class="fh">∧</span>
                        <hr style="border: dashed #DDDDDD 1px;margin-top: 50px; margin-bottom: 50px;">
                        <h4 class="title">我已经尽量使用刮板去除大灯膜内的水分了，但我似乎无法将边缘完全固定下来。我究竟做错了什么？</h4>
                    </div>
                    <div class="quesstion-container-list-container">
                        要在该区域使用烤枪来使边缘密封。烤边有两个目的。首先，它有助于从边缘下方蒸发剩余的酒精/水溶液，其次，它可以使薄膜更柔韧，使其可以成为轮廓的形状。如果使用烤枪加热塑料，请小心。只需要稍微烤一下即可。如果烤的时间过长，可能会损坏塑料表面。
                    </div>
                </div>
                <div class="col-lg-1 quesstion-container-list">
                    <div class="quesstion-container-list-title">
                        <span class="fk"></span>
                        <span class="fh">∧</span>
                        <hr style="border: dashed #DDDDDD 1px;margin-top: 50px; margin-bottom: 50px;">
                        <h4 class="title">大灯保护膜安装方法是湿贴还是干贴？</h4>
                    </div>
                    <div class="quesstion-container-list-container">
                        我们发现湿贴安装在大多数情况下可以达到效果并且施工难度较低。在比较大的前大灯上，使用湿贴安装方法基本不会产生气泡和对不准的情况。然而，在较小的部件上，比如雾灯，干式安装方法有时更容易。如果灯是球形的，则尤其如此。
                    </div>
                </div>
                <div class="col-lg-1 quesstion-container-list">
                    <div class="quesstion-container-list-title">
                        <span class="fk"></span>
                        <span class="fh">∧</span>
                        <hr style="border: dashed #DDDDDD 1px;margin-top: 50px; margin-bottom: 50px;">
                        <h4 class="title">我已经在我的头灯上安装了套件，它们看起来很好，但现在看起来很模糊。我做错什么了吗？</h4>
                    </div>
                    <div class="quesstion-container-list-container">
                        使用湿贴技术时，这是正常的。雾是酒精/水溶液从塑料下面蒸发的结果。产生的水蒸气导致几天的模糊外观。随着蒸汽消散，雾度会变清。
                    </div>
                </div>
                <div class="col-lg-1 quesstion-container-list">
                    <div class="quesstion-container-list-title">
                        <span class="fk"></span>
                        <span class="fh">∧</span>
                        <hr style="border: dashed #DDDDDD 1px;margin-top: 50px; margin-bottom: 50px;">
                        <h4 class="title">XPEL可以安装在车辆前大灯和雾灯上吗？</h4>
                    </div>
                    <div class="quesstion-container-list-container">
                        是。XPEL可以安装在汽车前大灯和雾灯上
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
    <footer>
        <div style="height: 447px; width: 1920px; position: absolute; top: 5555px;">
            <div style="background-color: black; height: 102px; " >
                <div style="width: 100px;height: 102px;padding-top: 30px; float: left;"><img src="/assets/image/time.jpg" style="height: 44px; width: 44px; float: right;"></div>
                <div style="width: 600px;height: 102px;margin-left: 20px; float: left;"><span style="color: white;font-size: 18px; line-height: 102px;" >24小时服务，要立即订购汽车美装服务或需要报价，请联系我们</span></div>
                <div style="width: 400px;height: 102px; float: right;"><a href="/contact/contact.html" style="text-decoration:none;"><button style="width: 175px; height: 44px; border-radius: 22px; background-color: #242424; color: #FFFFFF;margin-top: 30px;box-shadow: none;">立即预约</button></a></div>
            </div>
            <div style="height: 264px; background-color: rgb(43, 42, 42);" class="topdiv">
                <div style="float: left; width: 596px;">
                  <img src="/assets/image/footer.png" >
                </div>
                <div style="float: left; width: 500px;">
                   <ul style="color: white; font-size: 18px; list-style: none;  margin-top: 60px;">
                       <li style="margin-top: 10px;">联系人：13871551155（李高智）</li>
                       <li style="margin-top: 10px;">Q  Q：89720887</li>
                       <li style="margin-top: 10px;">邮箱：89720887@qq.com</li>
                       <li style="margin-top: 10px;">地址：武汉市武昌区临江大道江滩69号</li>
                   </ul>
                </div>
                <div style="height: 264px;  margin-right: 300px;">
                    <div style="float: right; margin-top: 50px;">
                    <img src="/assets/image/weixin.jpg" style="width: 100px; height: 100px;">
                    <br>
                    <span style="color: white; font-size: 18px; width: 75px; height: 18px;margin-left: 15px;">扫描咨询</span>
                    </div>
                </div>
            </div>
            <div style="background-color: black; height: 71px; text-align: center;vertical-align:middle;" >
                  <span style="color: white;font-size: 18px; line-height: 60px;">武汉xpel500旗舰店版权所有. 备案号：鄂ICP备2020015039</span>
            </div>
    
        </div>
    </footer>
</body>
<script src="/assets/js/quesstion.js"></script>
</html>